{% extends 'base.html' %}

{% block content %}

<h1>Add Member</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }} :<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">* {{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.username.label }} :<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">* {{ error }}</span>
        {% endfor %}
    </p>
    	{{ form.hidden_tag() }}
	{{ form.csrf_token }}
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
