{% extends 'base.html' %}

{% block content %}
<h1>J-Event</h1>
<span>Event Management and Organizer</span></br>
<a href="/add-member">Add Member</a> &nbsp; | &nbsp; <a href="/save_emails">Save Email</a>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% for data in context.obj %}
<div style="width: 800px; float: left; border-bottom: 1px solid gray; ">
    <div style="width: 390px; padding: 5px; float: left;">
        <h4>Email Detail</h4>
        <h5>Subject : </br>{{data.email_subject}}</h5>
        <h5>Content : </h5>{{data.email_content}}
        <h5>Time to send : </h5>{{data.timestamp}} (UTC+8)
    </div>
    <div style="width: 390px; padding: 5px; float: left;">
        <h4>Status : {% if data.sent %} Sent {% else %} Queuing up {% endif %}</h4>
        <h5>Member</h5>
        {% for member in data.members %}
        <ul>
            <li>{{ member.username }}</li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock content %}
