{% extends 'base.html' %}

{% block content %}

<h1>Add Email To Send</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.email_subject.label }} :<br>
        {{ form.email_subject(size=32) }}<br>
        {% for error in form.email_subject.errors %}
        <span style="color: red;">* {{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.email_content.label }} :<br>
        {{ form.email_content(cols=50, rows=10) }}<br>
        {% for error in form.email_content.errors %}
        <span style="color: red;">* {{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.member.label }} :<br>
        {{ form.member(size=5) }}<br>
        {% for error in form.member.errors %}
        <span style="color: red;">* {{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.timestamp.label }} :<br>
        {{ form.timestamp(size=32) }} in (UTC+8)<br>
        {% for error in form.timestamp.errors %}
        <span style="color: red;">* {{ error }}</span>
        {% endfor %}
    </p>
    	{{ form.hidden_tag() }}
	{{ form.csrf_token }}
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
